# URL base del API backend
VITE_API_URL=/api/v1

# Llave pública de la pasarela (ambiente sandbox/staging, sin dinero real)
VITE_PAYMENT_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
VITE_PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1